.checkboxGroup {
    display: flex;
    gap: .4rem;
    align-items: center;
}

.checkbox {
    display: flex;
    position: relative;
}

.checkboxInp {
    position: absolute;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

.checkboxLabel {
    width: 13px;
    height: 13px;
    outline: 3px solid #012F59;
    border-radius: 1rem;
}
.label{
    font-size: .9rem;
    color: rgba(1, 47, 89,.8);
}
.selected{
    background-color: #82C3FF;
    outline: 3px solid #f3f3f3;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,1);
}
.active{
    color: rgba(1, 47, 89,1);
}
.fds{
    font-size: .9rem;
    text-align: center;
}