*{
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: Poppins;

    
}
body{
    background-color: #82C3FF !important;
}
@font-face {
    font-family: Inspiration;
    src: url(../../fontes/Inspiration-Regular.ttf);
}
.ll{
    display: flex;
}
.container-1{
    position: relative;
    width: 20%;
    height: 100vh;
}
.menu-css{
    position: absolute;
    width: 100%;
    padding-top: 15px;
    
}
.menu-css .menu-css-faketrigger{
    position: absolute;
    width: 35px;
    height: 53px;
    z-index: 3;
    opacity:0 ;
    cursor: pointer;
    margin-left: 30px;
}

.menu-css .menu-css-hamburguer{
    width: 35px;
    height: 35px;
    position: absolute;
    z-index: 2;
    transition: all ease .2s;
    padding-left: 30px;

}
.menu-css .menu-css-hamburguer span{
    margin-top: 10px;
    width: 35px;
    height: 5px;
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    display: block;
    transition: all ease .2s;
    padding-left: 30px;
}

.menu-css .menu-css-faketrigger:checked ~ .menu-css-hamburguer .s1{ 
    transform-origin: 0 0%;
    transform: rotate(45deg) scale(1.25);
}
.menu-css .menu-css-faketrigger:checked ~ .menu-css-hamburguer .s2{ 
    opacity: 0;
}
.menu-css .menu-css-faketrigger:checked ~ .menu-css-hamburguer .s3 { 
    transform-origin: 0 100%;
    transform: rotate(-45deg) scale(1.25);
}
.menu-css .menu-css-faketrigger:checked ~ .menu-css-hamburguer { 
    margin-left: 70%;
}
.menu-css .menu-css-faketrigger:checked ~ .menu-css .menu-css-faketrigger { 
    margin-left: 70% ;
}
.menu-css ul{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(360deg, #82C3FF 0%, rgba(40.51, 120.55, 194.44, 0.78) 70%);
    height: calc(100vh - 100px);
    padding-top:100px ;
    margin-left: -100%;
    transition: all ease .2s;

}
.menu-css .menu-css-faketrigger:checked ~ ul { 
    margin-left: 0; 
}
.menu-css ul li { 
    padding: 10px 10px;
    font-size: 1.3rem;

}

.menu-css ul li i{ 
    margin-right: 10px;
    font-size: 1.3rem;
}
.menu-css ul h1 { 
    padding: 0 0 10px ;
    font-size: 3rem;
    font-weight: 300;
    font-family: Inspiration;
    margin-top: -90px;
    text-shadow: 25px 3px 3px rgba(130, 195, 2555, 20%);
    color: #fff;

}
.menu-css ul .hr3 {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, #CCC, transparent); 
    margin: 5px 0;
  }
  .menu-css ul .propaganda { 
    box-sizing: border-box;
    height: 30%;
    width: 100%;
    background-image: url("../img/propaganda.png");
    background-size: cover;
    background-position: center;
    margin: 25px 0 0 ;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0;
    text-align: center;
    border: 1px solid #ccc;

}
.menu-css ul .propaganda h5{ 
    color: #e7e7e7;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
    width: 100%;
    text-shadow: rgb(63, 63, 63) 0.1em 0.1em 0.2em;


}
.menu-css ul .propaganda a{ 
    color: white;
    font-size: 15px;
    font-weight: 700;
    width: 70%;
    height: 25%;
    background-color: rgba(38, 214, 35, 70%);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.menu-css ul li a { 
    text-decoration: none;
    color: #f3f3f3;
    transition: all ease .2s;
}
.menu-css ul a:hover{ 
    color: #bbbbbb;
    
}
.menu-css ul .propaganda a:hover{ 
    color: #ffffff;
    background-color: rgba(38, 214, 35, 100%);
    
}
