input{
    width: 100%;
    border-bottom: 1px solid #fff;
    height: 20px;
    padding: 1rem;
    border-radius: 3px ;
  }
  label{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem 0;
  }