.content{
    display: flex;
    flex-direction: column;
    gap: 2rem;

}
.row1,
.row2,
.row3{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.title{
    color: rgba(0, 18, 34,.7);
    font-weight: 400;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    border-bottom:1px solid #ccc ;
    padding-bottom: .5rem;
}