*{
    padding: 0;
    margin: 0;
    list-style: none;
}
body{
    background-color: rgb(129, 55, 55);
}
@font-face {
    font-family: Inspiration;
    src: url(../TCC/fontes/Inspiration-Regular.ttf);
}
main{
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.menu{
    position: absolute;
    width: 25%;
    padding-left: 30px;
    padding-top: 15px;
}
.menu .menu-faketrigger{
    position: absolute;
    width: 35px;
    height: 35px;
    z-index: 3;
    opacity: 0;
    cursor: pointer;
}

.menu .menu-hamburguer{
    width: 35px;
    height: 35px;
    position: absolute;
    z-index: 2;

}
.menu .menu-hamburguer span{
    margin-top: 10px;
    width: 35px;
    height: 5px;
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    display: block;
    transition: all ease .2s;
}

.menu .menu-faketrigger:checked ~ .menu-hamburguer .s1{ 
    transform-origin: 0 0%;
    transform: rotate(45deg) scale(1.25);
}
.menu .menu-faketrigger:checked ~ .menu-hamburguer .s2{ 
    opacity: 0;
}
.menu .menu-faketrigger:checked ~ .menu-hamburguer .s3 { 
    transform-origin: 0 100%;
    transform: rotate(-45deg) scale(1.25);
}
.menu ul{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(360deg, #82C3FF 0%, rgba(40.51, 120.55, 194.44, 0.78) 70%);
    height: calc(100vh - 100px);
    padding-top:100px ;
    margin-left: -100%;
    transition: all ease .2s;
}
.menu .menu-faketrigger:checked ~ ul { 
    margin-left: 0;
}
.menu ul li { 
    padding: 10px 100px;
    font-size: 30px;
}
.menu ul h1 { 
    padding: 0 0 10px 100px;
    font-size: 60px;
    font-weight: 300;
    font-family: Inspiration;
    margin-top: -95px;
    text-shadow: 25px 3px 3px rgba(130, 195, 2555, 20%);
    color: #fff;

}
.menu ul .hr3 {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, #CCC, transparent); 
    margin-bottom: 30px;
  }